body {
    margin: 0%;
    padding: 30px;
    background-color: lavender;
}

header {
    padding: 5px;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

nav {
    margin-top: 10px;
    margin-bottom: 30px;
}

nav ul {
    border-top:  solid 1px cornflowerblue;
    border-bottom: solid 1px cornflowerblue;
    /* padding: 15px; */
}

nav ul li {
    display: inline;
    letter-spacing: .3em;
    margin-left: 3em;
}

nav ul li a {
    line-height: 3em;
    text-transform: uppercase;
}

nav ul li a:hover {
    color: darkslateblue;
    font-weight: bold;
}

aside#left {
    float: left;
    margin-right: 1em;
    width: 12em;
}

aside#left ul {
    list-style: none;
}

aside#left ul li {
    background-color:whitesmoke;
    padding: 5px 10px;
    border-bottom: solid 1px gray;
}

aside#left ul li a {
    text-decoration: none;
}

section#main {
    float: left;
    margin-left: 3rem;
    margin-bottom: 3rem;
}

aside#right {
    float: right;
    padding: 10px;
    width: 12em;
}

aside#right div#shopcart {
    margin-bottom: 30px;
}

aside#right div#shopcart a {
    font-weight: bold;
    text-decoration: underline;
}

input {
    margin-bottom: 5px;
}

footer {
    clear: both;
    background-color: cornflowerblue;
    color: white;
    text-align: center;
    padding: 1em 0px;
    margin-top: 40rem;
}